main {
  width: 50%;
}

.hidden {
  display: none
}

.tarefa {
  border: 1px solid rgb(75, 75, 75);
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

#text_area {
  width: 50%;
}

.listaDeTarefas {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
