.hidden {
  display: none
}

.tarefa {
  border: 2px solid rgb(75, 75, 75);
  border-radius: 1em;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

#text_area {
  width: 50%;
}
